
###> symfony/framework-bundle ###
.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
###< symfony/asset-mapper ###

###> simplesamlphp metadata ###
aladin-config/simplesamlphp/metadata/saml20-idp-remote.php

###> simplesamlphp certificate ###
aladin-config/simplesamlphp/cert/*.crt
aladin-config/simplesamlphp/cert/*.key
aladin-config/simplesamlphp/cert/*.pem
###< simplesamlphp certificate ###

###> simplesamlphp config ###
aladin-config/simplesamlphp/config/authsources.php
aladin-config/simplesamlphp/config/module_metarefresh.php
###< simplesamlphp config ###

###> simplesamlphp logs ###
vendor/simplesamlphp/simplesamlphp/log/*.log
vendor/simplesamlphp/simplesamlphp/public/log/*.log

###> SSH keys (for pushing to/pulling from git origin) ###
aladin-config/ssh/id_rsa
aladin-config/ssh/id_rsa.pub
###< SSH keys (for pushing to/pulling from git origin) ###

###> PhpStorm IDE ###
.idea/
###< PhpStorm IDE ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
