{% extends 'base.html.twig' %}
{% block title %}Configuration{% endblock %}
{% block body %}
    <h1>Configuration</h1>
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
    {{ form_end(form) }}
{% endblock %}