{% extends 'base.html.twig' %}
{% block title %}Configuration | WRLC Aladin-SP{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Configuration</li>
        </ol>
    </nav>
    <h1 class="col col-5">Aladin-SP Configuration</h1>
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
    {{ form_end(form) }}
{% endblock %}