{% extends 'base.html.twig' %}

{% block title %}Generate PDO{% endblock %}

{% block body %}
    <h1>Generate PDO</h1>
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
    {{ form_end(form) }}
{% endblock %}