{% extends 'public.base.html.twig' %}

{% block body %}
    {% if type == 'authorization' %}
        <h1>Authorization Error</h1>
    {% else %}
        <h1>Error</h1>
    {% endif %}
    <div class="alert alert-danger" role="alert">
        {% if type == 'authorization' %}
            <div>An error has occurred in validating your account access:</div>
        {% endif %}
        <div class="mt-3 mx-3">
            <div><strong>{{ intro }}</strong></div>
            {% if errors|length > 0 %}
                <ul class="mt-3 mx-3">
                    {% for error in errors %}
                        <li><pre>{{ error }}</pre></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if type == 'authorization' %}
            <div class="mt-3">Please contact the WRLC Service Desk at <a href="mailto:servicedesk@wrlc.org">servicedesk@wrlc.org</a></div>
        {% endif %}
    </div>
{% endblock %}