{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Authentication Test</li>
        </ol>
    </nav>
    <h1>Authentication Test</h1>
    {{form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.institution) }}
            {{ form_widget(form.institution) }}
        </div>
    {{ form_end(form) }}
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" onclick="getInstitution()">Submit</button>
    </div>
{% endblock %}
{% block javascripts2 %}
    <script>
        function getInstitution() {
            let institution = document.getElementById('authn_test_institution').value;
            document.location.href = '/authN?institution=' + institution;
        }
    </script>
{% endblock %}